/* --------- This is CSS Reset Code --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* --------- Begin your CSS Below here --------- */
* {
	margin: 0;
}

body {
	min-width: 100vw;
	min-height: 100vh;
}

header {
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ff9a56;
}

	header h2 {
		font-size: 35px;
		color: #fff;
		margin-left: 75px;
		font-family: sans-serif;
	}

	nav button {
		background-color: #ff9a56;
		color: #fff;
		border: none;
		font-size: 30px;
		margin: 0 35px;
	}

footer {
	width: 100%;
	height: 150px;
	background-color: #535559;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.footer-info {
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.footer-info h5 {
		color: #fff;
		margin-bottom: 20px;
		font-family: sans-serif;
		font-size: 22px;
	}

	.footer-icons {
		width: 60%;
		display: flex;
		justify-content: space-evenly;
	}

	.icon {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: rgb(111, 169, 172);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer-logo {
		margin-right: 50px;
	}