/* --------- This is CSS Reset Code --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* --------- Begin your CSS Below here --------- */
* {
	margin: 0;
}

body {
	min-width: 100vw;
	min-height: 100vh;
}

.App {
	height: 100%;
	width: 100%;
}

header {
	width: 100%;
	height: 65px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ff9a56;
}

	header h2 {
		font-size: 35px;
		color: #fff;
		margin-left: 75px;
		font-family: sans-serif;
	}

	nav button {
		background-color: #ff9a56;
		color: #fff;
		border: none;
		font-size: 30px;
		margin: 0 35px;
	}

footer {
	width: 100%;
	height: 150px;
	background-color: #535559;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.footer-info {
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.footer-info h5 {
		color: #fff;
		margin-bottom: 20px;
		font-family: sans-serif;
		font-size: 22px;
	}

	.footer-icons {
		width: 60%;
		display: flex;
		justify-content: space-evenly;
	}

	.icon {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: #59949d;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer-logo {
		margin-right: 50px;
	}

/* Home screen, ad banner */
.home-container {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.adbanner-container {
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.adbanner-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 55%;
	text-align: center;
}

	.adbanner-info h3 {
		color: #fff;
		font-family: sans-serif;
		font-size: 24px;
	}

	.adbanner-info h1 {
		color: #ff9a56;
		font-size: 64px;
		font-family: sans-serif;
		font-weight: 600;
		margin: 20px 0;
	}

	.blue-btn {
		background-color: #59949d;
		color: #fff;
		border: none;
		width: 120px;
		height: 50px;
		margin-top: 30px;
		font-size: 18px;
	}

.search {
	height: 50px;
	width: 300px;
	border-radius: 25px;
	margin-top: 20px;
	background-color: #f8d6be;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
	gap: 10px;
	color: #ff9a56;
	font-size: 24px;
}

.search input {
	border: none;
	border-radius: 25px;
	height: 100%;
	width: 100%;
	font-size: 16px;
	outline: none;
	background: transparent;
}

/* Recipe Cards */
.cards-container {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 20px 0;
}
.recipe-card {
	width: 25%;
	height: 50%;
	margin: 20px;
	box-shadow: 3px 3px 10px #7f7f7f;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

	.recipe-card img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		border-radius: 4px 4px 0 0;
	}

	.recipe-card h3 {
		font-family: sans-serif;
		font-weight: 700;
	}

	.recipe-card button {
		border: none;
		height: 42px;
		width: 100px;
		background-color: #59949d;
		margin-bottom: 10px;
		color: #fff;
		font-weight: 600;
	}